<footer>
    <p>Notre site est fièrement propulsé par <bold><a href="https://www.clever-cloud.com/">Clever Cloud</a></bold></p>
    <p>Le site est sous license <bold>GNU GPLv3</bold>. <bold><a href="/about/license">En savoir plus</a></bold></p>
    <p><a href="https://github.com/grallc/fichable">Contribuer au site   <img src="../../img/github.png" alt="contribute"></img></a></p>
</footer>