<header>
    <div class="burger" id='burger'>
        <div class='wrapbar'>
            <div class="bar" id='bar1'></div>
            <div class="bar" id='bar2'></div>
            <div class="bar" id='bar3'></div>
        </div>
    </div>
    <div class="title">
        <a href='/'>
            <p><strong>FICHABLE</strong></p>
        </a>
    </div>
    <div class="connect">
        <div class="dropdown">
            <i class="fas fa-user-circle button"></i>
            <div>
                {{#isLoggedIn }}
                    <a href="#" id='profile'>Profil</a>
                    <a href="#" id='logout'>Déconnexion</a> <br>
                {{else}}
                    <a href="#" id='register'>S'inscrire</a>
                    <a href="#" id='login'>Se connecter</a> <br>
                {{/isLoggedIn}}

            </div>
        </div>
    </div>
</header>