<div class="container register">
  <h3>Enregistrement</h3>
  {{!-- <label><b>Nom d'utilisateur</b></label>
  <input type="text" placeholder="Nom d'utilisateur" id="registerUsername" required> --}}

  <label><b>Adresse Email</b></label>
  <input type="text" placeholder="Adresse Email" id="registerEmail" required>

  <label ><b>Mot de Passe</b></label>
  <input type="password" placeholder="Mot de Passe" id="registerPassword" required>

  <label ><b>Confirmation du Mot de Passe</b></label>
  <input type="password" placeholder="Confirmez le mot de passe" id="registerConfirmPassword" required>

  <button id="btnRegister">S'enregistrer</button>
</div>


<div class="container login">
  <h3>Connexion</h3>
  <label><b>Adresse Email</b></label>
  <input type="text" placeholder="Adresse Email" id="loginUser" required>

  <label ><b>Mot de Passe</b></label>
  <input type="password" placeholder="Mot de Passe" id="loginPassword" required>

  <button id="btnLogin">Se connecter</button>
</div>

<div class="container" style="background-color:#f1f1f1">
  <span><a href="#">Mot de passe oublié</a></span>
</div>