<div id="navbar">
    <nav>
        <ul>
            <a href="/fiches/new">
                <li>créer une fiche</li>
            </a>
            <a href="/users/profile">
                <li>mes fiches</li>
            </a>
            <a href="#">
                <li>catégories</li>
            </a>
            <a href="/users/premium">
                <li><u>PREMIUM</u></li>
            </a>
            <a href="/about">
                <li>à propos</li>
            </a>
        </ul>
    </nav>
</div>