<div id="navbar">
    <nav>
        <ul>
            <a href="/fiches/">
                <li>Accueil</li>
            </a>
            <a href="/fiches/new">
                <li>Créer une fiche</li>
            </a>
            <a href="/users/profile">
                <li>Mon profil</li>
            </a>
            <a href="/users/premium">
                <li><u>PREMIUM</u></li>
            </a>
            <a href="/about">
                <li>À propos</li>
            </a>
        </ul>
    </nav>
</div>