<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
    <title>Fichable</title>
</head>
<body>
    {{> header}}
    {{> login }}
    {{> footer}}

    <script src="../js/login.js"></script>

</body>
</html>