{{> head }}

<body>
    <div id="wrapper">
        {{> header }}
        {{> navbar }}
        <div class="container" id="grid">
            {{> fiches userId=userId}}
        </div>
        {{> login}}
    </div>
</body>

</html>