{{> head }}

<body>
    <div id="wrapper">
        {{> header }}
        {{> navbar }}
        <div class="container" id="grid">
            {{> infos query=query}}
            {{> fiches }}
        </div>
        {{> login}}
    </div>
</body>

</html>