{{> head }}

<body>
    {{> header}}
    {{> navbar}}
    {{> login}}
    <script src='../../js/fiches/fiches.js' type='text/javascript'></script>
    <h4>Créer une fiche</h4>

    <div class="alert alert-primary" role="alert" id="ficheInfo" style="display: none">
    </div>

    <div class="alert alert-danger" role="alert" id="ficheError" style="display: none">
    </div>

    <form id="ficheForm">
        <div class='formItem'>
            <label for="fitle">Titre</label>
            <input type="text" name="title" placeholder="Titre" id="ficheTitle" required>
        </div>
        <div class="formItem">
            <label for="description">Description de la fiche (quelques lignes)</label>
            <textarea placeholder="Description" id="ficheDescription" name="description" required></textarea>
        </div>
        <div class="formItem">
            <label for="content">Contenu de la fiche</label>
            <textarea placeholder="Contenu" id="ficheTextContent" name="content"></textarea>
        </div>
        <div class="g-recaptcha" data-sitekey="6Ldj0KMUAAAAAAsxuWCndk2tO802cAYFwoFoD_zj"></div>
        <input type="submit" id="submitFiche" value="Soumettre" />
    </form>
    </div>
    {{> footer}}
</body>

</html>