
/* Pour le container */
.img-container{
  min-height: 200px;
  max-height: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Un espace entre la barre d'outils et les toggles*/
.docs-toggles{
  margin-top: 10px;
}