<header>
    <h3>Fichable</h3>
    <nav>
        <ul>
            <li><a href="/">Toutes les fiches</a></li>
            <li><a href="/create">Créer une fiche</a></li>
            <li><a id="navbarProfile">Profil</a></li>
        </ul>
    </nav>
</header>