{{> head }}

<body>
    {{> header}}
    {{> navbar}}
    {{> login}}

    <div class='container-fluid'>
        <div class='reflexionTitle'>
            <h1>à propos</h1>
        </div>
        <div class='reflexions'>
            <div class='lucas reflexion'>
                <h2>Réflexion personnelle</h2>
                <h3>Lucas Mahé-Boisneau</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium quam non augue posuere, eu
                    ultrices nulla sodales. Nam at libero purus. Proin cursus neque vitae nulla commodo, quis ultrices
                    lacus sollicitudin. Etiam at velit et velit tincidunt elementum. Nulla finibus enim at sapien
                    convallis, eget suscipit nulla consectetur. Ut porta tortor sed quam egestas, vitae vulputate nulla
                    lobortis. Ut sit amet dolor in nisi suscipit mollis. Cras luctus consectetur ipsum, sed dapibus est
                    venenatis nec. Aliquam velit eros, dictum nec dapibus at, molestie aliquam nulla. Donec hendrerit
                    fermentum cursus. Nulla bibendum augue est, in ullamcorper justo euismod ut. Mauris eros purus,
                    tristique ac diam ac, euismod euismod dolor. Quisque quis feugiat lectus, vehicula varius dui.
                    Curabitur metus purus, feugiat facilisis justo vel, consectetur tempus tortor.
                    <br>
                    <br>
                    Ut in augue sit amet enim dignissim scelerisque. Integer lorem mi, pellentesque ac ligula sit amet,
                    porttitor sagittis ligula. Integer non nulla ut urna consectetur lacinia ac in sapien. Curabitur
                    gravida, sapien tempus ornare elementum, risus diam consequat erat, in ornare est metus sit amet
                    lacus. Nam placerat turpis vel blandit luctus. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Integer sit amet eros non massa viverra suscipit. Ut ut arcu
                    vitae dolor laoreet molestie sit amet eget enim. Sed eget ante enim. Etiam a risus dictum urna
                    vulputate tempor eu eget est. Donec volutpat eros sed accumsan faucibus. In suscipit nec nibh quis
                    mollis. Phasellus mauris mauris, mollis at tortor ac, dignissim mattis odio. Nam venenatis, risus in
                    lobortis cursus, nisl erat congue nulla, vitae semper enim mi a mi.
                </p>
            </div>
            <div class='corentin reflexion'>
                <h2>Réflexion personnelle</h2>
                <h3>Corentin Grall</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium quam non augue posuere, eu
                    ultrices nulla sodales. Nam at libero purus. Proin cursus neque vitae nulla commodo, quis ultrices
                    lacus sollicitudin. Etiam at velit et velit tincidunt elementum. Nulla finibus enim at sapien
                    convallis, eget suscipit nulla consectetur. Ut porta tortor sed quam egestas, vitae vulputate nulla
                    lobortis. Ut sit amet dolor in nisi suscipit mollis. Cras luctus consectetur ipsum, sed dapibus est
                    venenatis nec. Aliquam velit eros, dictum nec dapibus at, molestie aliquam nulla. Donec hendrerit
                    fermentum cursus. Nulla bibendum augue est, in ullamcorper justo euismod ut. Mauris eros purus,
                    tristique ac diam ac, euismod euismod dolor. Quisque quis feugiat lectus, vehicula varius dui.
                    Curabitur metus purus, feugiat facilisis justo vel, consectetur tempus tortor.
                    <br>
                    <br>
                    Ut in augue sit amet enim dignissim scelerisque. Integer lorem mi, pellentesque ac ligula sit amet,
                    porttitor sagittis ligula. Integer non nulla ut urna consectetur lacinia ac in sapien. Curabitur
                    gravida, sapien tempus ornare elementum, risus diam consequat erat, in ornare est metus sit amet
                    lacus. Nam placerat turpis vel blandit luctus. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Integer sit amet eros non massa viverra suscipit. Ut ut arcu
                    vitae dolor laoreet molestie sit amet eget enim. Sed eget ante enim. Etiam a risus dictum urna
                    vulputate tempor eu eget est. Donec volutpat eros sed accumsan faucibus. In suscipit nec nibh quis
                    mollis. Phasellus mauris mauris, mollis at tortor ac, dignissim mattis odio. Nam venenatis, risus in
                    lobortis cursus, nisl erat congue nulla, vitae semper enim mi a mi.
                </p>
            </div>
            <div class='paul reflexion'>
                <h2>Réflexion personnelle</h2>
                <h3>Corentin Grall</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pretium quam non augue posuere, eu
                    ultrices nulla sodales. Nam at libero purus. Proin cursus neque vitae nulla commodo, quis ultrices
                    lacus sollicitudin. Etiam at velit et velit tincidunt elementum. Nulla finibus enim at sapien
                    convallis, eget suscipit nulla consectetur. Ut porta tortor sed quam egestas, vitae vulputate nulla
                    lobortis. Ut sit amet dolor in nisi suscipit mollis. Cras luctus consectetur ipsum, sed dapibus est
                    venenatis nec. Aliquam velit eros, dictum nec dapibus at, molestie aliquam nulla. Donec hendrerit
                    fermentum cursus. Nulla bibendum augue est, in ullamcorper justo euismod ut. Mauris eros purus,
                    tristique ac diam ac, euismod euismod dolor. Quisque quis feugiat lectus, vehicula varius dui.
                    Curabitur metus purus, feugiat facilisis justo vel, consectetur tempus tortor.
                    <br>
                    <br>
                    Ut in augue sit amet enim dignissim scelerisque. Integer lorem mi, pellentesque ac ligula sit amet,
                    porttitor sagittis ligula. Integer non nulla ut urna consectetur lacinia ac in sapien. Curabitur
                    gravida, sapien tempus ornare elementum, risus diam consequat erat, in ornare est metus sit amet
                    lacus. Nam placerat turpis vel blandit luctus. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Integer sit amet eros non massa viverra suscipit. Ut ut arcu
                    vitae dolor laoreet molestie sit amet eget enim. Sed eget ante enim. Etiam a risus dictum urna
                    vulputate tempor eu eget est. Donec volutpat eros sed accumsan faucibus. In suscipit nec nibh quis
                    mollis. Phasellus mauris mauris, mollis at tortor ac, dignissim mattis odio. Nam venenatis, risus in
                    lobortis cursus, nisl erat congue nulla, vitae semper enim mi a mi.
                </p>
            </div>
        </div>
    </div>
    {{> footer}}


</body>

</html>