{{> head }}

<body>
    {{> header}}
    {{> navbar}}
    {{> login}}

    <div class='container' id='aboutContainer'>
        <div class='aboutLinks'>
            <a href="/about/license">
                <button>Licence</button>
            </a>
            <a href="/about/us">
                <button>Qui sommes-nous ?</button>
            </a>
        </div>
    </div>
    {{> footer}}


</body>

</html>