{{> head }}

<body>
    {{> header}}
    {{> navbar}}
    {{> login}}

    <div class='container'>
        <h1>À propos - License</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/GPLv3_Logo.svg/1200px-GPLv3_Logo.svg.png" alt="license"></img>
        <p>Nous avons décidé de mettre le site sous la license <b>GNU GPLv3</b>, c'est-à-dire que le site est <b>totalement</b> libre de droit,
        vous pouvez donc modifier et utiliser les sources si vous le souhaitez, tout en laissant le lien de notre <bold>Github</bold>.</p>
        <p>Cependant, nous vous demandons de ne pas utiliser nos sources à quelconque
        but lucratif sans nous contacter via l'adresse email <bold>contact@fichable.fr</bold>.</p>
        <p>Nous pourrons à ce moment-là éventuellement trouver un accord vous permettant d'utiliser nos sources à lucratif</p>
    </div>
    {{> footer}}


</body>

</html>