{{> head }}

<body>
    {{> header}}
    {{> navbar}}
    {{> login}}

    <div class='container'>
        <h1>À propos des créateurs de Fichable</h1>
        <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis nulla ut tincidunt elementum. Cras iaculis tempus diam, vitae laoreet sapien lobortis vel. Curabitur a elit aliquet, posuere nunc non, convallis nunc. Sed sit amet sapien nec est dignissim volutpat. Donec imperdiet eget ipsum sit amet ullamcorper. Quisque dignissim nisi et velit posuere vehicula. Fusce tristique commodo urna, ac consequat nulla laoreet ut. Ut mattis tempor risus.</p>>
    </div>
    {{> footer}}


</body>

</html>