{{> head }}

<body>
    {{> header}}
    {{> navbar}}
    {{> login}}

    <div class='container'>
        <div class='reflexionTitle'>
            <h1>À propos des créateurs</h1>
        </div>
        <div class='reflexions'>
            <div class='lucas reflexion'>
                <h3>Lucas Mahé-Boisneau - Développer Front-End</h3>
                <p>
                    <Le <strong>cloud</strong> computing, ou en français <strong>informatique dans le nuage</strong>,
                        consiste à utiliser la puissance de calcul de composants situés dans des <strong>serveurs à
                            distance</strong> pour son usage personnel. Il nécessite un <strong>boîtier de
                            réception</strong> lié au dit serveur. Comme pour la <strong>virtualisation</strong>, le
                        cloud computing peut être intéressant au vu de son <strong>évolutivité</strong>. Une entreprise
                        peut également en tirer profit car la <strong>maintenance</strong>, la
                        <strong>sécurisation</strong> et l'<strong>évolution des services</strong> sont totalement à la
                        charge du prestataire, ce qui représente des économies conséquentes. Mais le cloud computing a
                        également des inconvénients. Par exemple, la <strong>sécurité</strong> : l'utilisateur est
                        constamment connecté à internet pour pouvoir utiliser son appareil. C'est pourquoi il est
                        vulnérable aux <strong>cyber-attaques</strong>. De plus, comme le client est dépendant du
                        réseau,si une coupure d'internet ou une baisse de bande passante s'effectue, le service peut
                        être bridé. Aucun service de cloud computing ne garantit une disponibilité de 100%. Le cloud
                        computing est également très gourmand en énergie et contribue au <strong>réchauffement
                            climatique</strong>. Pour <strong>Richard Stallman</strong>, le cloud computing est un
                        piège. Il le considère comme un <strong>concept publicitaire</strong> sans intérêt, rejoignant
                        les critiques de <strong>Larry Ellison</strong>, fondateur de goupe <em>Oracle</em>, selon
                        lequel il s'agit d'un <strong>phénomène de mode</strong>.
                </p>
            </div>
            <div class='corentin reflexion'>
                <h3>Corentin Grall - Développeur Back-End - “Informatique et environnement”</h3>
                <p>
                    LBien que je considère que l'informatique et tout ce qui l'entoure, ce que j'appellerai la
                    "High-Tech", soit quelque chose que je considère comme formidable, qui a révolutionné, qui continue
                    de révolutionner, et qui va continuer encore fort longtemps de révolutionner notre quotidien, comme
                    le montrent les changements qu'elle a engendrée, on ne peut se voiler la face à propos de son impact
                    sur l'environnement : la fabrication et le recyclage des appareils électriques, quelque soit leur
                    taille ou leur usage, produit de nombreux déchets pour la plupart non-recyclabes. <br/> Aussi, les
                    Data-Centers de toutes les grosses entreprises telles que Google, Facebook ou Amazon rejettent
                    chaque année autant de CO2 que certains pays pour le stockage de nos données et de tout ce monde
                    virtuel dans le cloud. Cela en vaut-il le coup ? Je pense que oui : l'informatique crée de nombreux
                    emplois, nous facilite le quotidien, permet de multiples choses telles que la communication
                    inter-continentale. <br/>Cependant, il est vrai que je pense qu'on devrait forcer les multinationales à
                    réduire leurs impacts environnementaux : ils peuvent notamment remplacer la ventilation de leurs
                    serveurs par des systèmes beaucoup moins énergivores, tel qu'un système de rafraichissement avec du
                    liquide, le "watercooling". Aussi, je pense qu'il faudrait forcer les grosses entreprises qui créent
                    des déchets à recycler ces derniers, afin de ne pas laisser nos descendants dans un monde plein de
                    déchets. Pour conclure, il faut rappeller que l'informatique est une chose formidable mais que ça
                    n'excuse pas la pollution qu'elle engendre : il faut donc que chacun fasse des efforts.
                </p>
            </div>
            <div class='paul reflexion'>
                <h3>Paul Gallais - Responsable des ajouts de fiches</h3>
                <p>
                    Tout d'abord, on peut définir l'information comme étant « tout message communicable à autrui par un
                    moyen quelconque, la forme ou l’état particulier de la matière ou de l’énergie susceptible d’une
                    signification ». Lorsque on parle de propriété de l'information, dans le cadre du numérique, on peut
                    se demander si l'information que l'on partage sur un réseau reste la notre une fois qu'elle est
                    distribuée. Deux points de vue peuvent être adoptés, d'abord, on peut s'imaginer que cette
                    information restera notre car nous en restons les créateurs et avons donc pleine maîtrise de tout ce
                    qui est en relation avec cette information. Nous pouvons aussi penser que cette information, dès
                    lors qu'elle devient publique, elle pourra être utilisé, et donc que nous n'en aurons plus le plein
                    contrôle. Nous pouvons alors nous demander quelle est l'enjeu derrière la divulgation de ses
                    informations. Dans le cas des informations biométrique, (la forme de notre visage, l'empreinte
                    digitale) on peut se dire que ces informations une fois publiées peuvent être réutilisées étant
                    donnée qu'elles sont stockées au format numérique. Malheuresement, ces informations sont non
                    modifiables car elles font parties de notre biologie et sont utilisés dans de nombreux services de
                    sécurité. La propriété de l'information n'est donc pas à prendre à la légère et nous devons protéger
                    ces informations car elles ne sont pas toutes irremplacables.
                </p>
            </div>
        </div>
    </div>
    {{> footer}}


</body>

</html>