{{> head }}

<body>
    {{> header}}
    <h4>Créer une fiche</h4>
    <div class="container create">
        <form action="/fiches/submit" method="post" id="createFicheForm">
            <input type="text" name="title" placeholder="Titre" id="submitTitle" required>
            <textarea placeholder="Contenu" id="submitTextContent" name="description" required></textarea>
            <input type="submit" value="Soumettre" />
        </form>
    </div>

    {{> footer}}
</body>

</html>