<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fichable</title>
</head>

<body>
    {{> header}}
        <script src="../js/fiches/new.js"></script>
    <h4>Créer une fiche</h4>
    <div class="container create">
        <form action="/fiches/submit" method="POST" id="createFicheForm">
            <input type="text" placeholder="Titre" id="submitTitle" required>
            <textarea placeholder="Contenu" id="submitTextContent" required></textarea>
            <input type="submit" value="Send" />
        </form>
    </div>

    {{> footer}}
</body>

</html>